spin_manifest_version = 2

[application]
authors = ["aldwinyu"]
description = ""
name = "mail-sniffer"
version = "0.1.0"

[variables]
telegram_bot_token = { required = true }
google_oauth_client_secret = { required = true }

[[trigger.http]]
route = "/"
component = "telegram-bot"

[component.telegram-bot]
source = "telegram-bot/target/telegram-bot.wasm"
allowed_outbound_hosts = [ "https://api.telegram.org" ]
[component.telegram-bot.build]
command = "npm run build"
workdir = "telegram-bot"
watch = ["src/**/*.ts"]
[component.telegram-bot.variables]
telegram_bot_token = "{{ telegram_bot_token }}"

[[trigger.http]]
route = "/oauth/callback"
component = "oauth"

[component.oauth]
source = "oauth/target/oauth.wasm"
allowed_outbound_hosts = [ "https://api.telegram.org", "https://oauth2.googleapis.com" ]
key_value_stores = ["default"]
[component.oauth.build]
command = "npm run build"
workdir = "oauth"
watch = ["src/**/*.ts"]
[component.oauth.variables]
telegram_bot_token = "{{ telegram_bot_token }}"
google_oauth_client_secret = "{{ google_oauth_client_secret }}"

